.form-auth {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.form-field {
  position: relative;
}
.form-input {
  width: 100%;
  height: 55px;
  border-radius: 12px;
  border: 2px solid var(--blue-primary);
  background: var(--bg-white);
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  color: var(--text-color-black);
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s ease all;
}
.form-input:focus {
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  color: var(--text-color-black);
  outline: 0;
  border: 2px solid var(--purple-primary);
}
.form-input::placeholder {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  color: var(--text-color-secondary);
}
.form-input:focus::placeholder {
  color: transparent;
}
.form-input-error {
  position: absolute;
  top: 55px;
  left: 0;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  color: var(--text-color-red);
}
.form-input-warning {
  border: 2px solid var(--text-color-red);
}
.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  border-radius: 12px;
  border: 2px solid var(--blue-primary);
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--text-color-white);
  text-transform: uppercase;
  cursor: auto;
  margin-top: 20px;
}
.form-button-active {
  background: var(--gradient-green-primary);
  cursor: pointer;
  transition: 0.25s ease;
}
.form-button-active:hover {
  background: var(--gradient-green-secondary);
}
.form-empty-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  border-radius: 12px;
  border: 2px solid var(--text-color-secondary);
  background: var(--text-color-secondary);
  text-transform: uppercase;
  cursor: auto;
  margin-top: 20px;
}
.form-empty-button-text {
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  color: var(--text-color-white);
  white-space: nowrap;
  animation: slide-in 1.5s ease;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
