html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter-Regular", sans-serif;
  background-color: var(--bg);
  color: var(--text-color-primary);
  line-height: 1.55;
  // line-height: 1;
  transition: background-color 0.3s;
}

a {
  color: var(--text-color-primary);
  // border: 1px solid red;
}

*,
*::before,
*::after,
button,
ul,
li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  background: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.page-screen {
  width: 100%;
  max-width: var(--screen-xl);
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;

  // border: 1px solid red;
}
